*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    background-color: #efefef;
}

.site-welcome{
    background-color: #888;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.site-welcome.active{
    display: none;
}
.loading::before,.loading::after{
    content: '';
    width: 0;
    height: 0;
    background-color: black;
    left: 0;top: 0;bottom: 0;right: 0;
    margin: auto;
    position: absolute;
    border-radius:50%;
    animation:s 2s linear infinite;
}
.loading::after{
    animation-delay:1s;
}
@keyframes s{
    0%{
        width: 0;
        height: 0;
        opacity:1;
    }
    100%{
        width: 100px;
        height: 100px;
        opacity:0;
    }
}
.top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #ccc;
    border: 1px solid #ccc;
    height: 30px;
    width: 80px;
    line-height: 30px;
    text-align: center;
    border-radius: 40px;
}
.top a{
    color: #ccc;
}
.top-nav-bar.gundong{
    background-color: #fff;
    color: #3d4451;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    padding: 14px 0;
    transition: all 0.3s;
}
.top-nav-bar{
    padding: 23px 0;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    color: #b7b7b7;
    transition: all 0.3s;
}
.top-nav-bar>a{
    font-size: 24px;
    font-family: 'Arial Black';
    font-weight: bold;
    padding-left: 18px;
}
.top-nav-bar li.active a::after{
    content: '';
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: as linear .3s;
}
@keyframes as {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.works-menu{
    position: absolute;
    white-space: nowrap;
    top: 30px;
    right: 0;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    display: none;
}
.top-nav-bar li.active>.works-menu{
    display: block;
    animation: ms linear .3s;
}
@keyframes ms {
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0;
    }
}
.works-menu>li{
    margin: 5px 0;
}
.top-nav-bar .rs{
    color: #e6686a;
    margin-right: 5px;
}
.top-nav-bar .card{
    color: #9a9da2;
}
.top-nav-bar nav>ul{
    margin-right: 16px;
}
.top-nav-bar nav>ul>li {
    float: left;
    margin: 4px 18px 0;
    position: relative;
}
.top-nav-bar nav>ul>li>a{
    font-size: 12px;
    color: inherit;
    padding-bottom: 5px;
    font-weight: bold;
}
/*.top-nav-bar nav>ul>li>a:hover{*/
    /*border-bottom: 3px solid #e06567;*/
/*}*/
.top-nav-bar nav{
    float: right;
}
.banner{
    background: url("../images/rs-cover.jpg") no-repeat center center;
    background-size: cover;
    height: 515px;
    position: relative;
    z-index: -1;
}
.banner .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 0;
}
.user-card {
    max-width: 940px;
    margin: -345px auto 0;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.user-card-subject .picture{
    float: left;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 54pt;
}
.introduction{
    float: left;
    padding-top: 50px;
    padding-left: 65px;
    width: 470px;
}
.introduction .welcome{
    background-color: #e6686a;
    display: inline-block;
    padding: 4px 16px;
    position: relative;
    color: #fff;
}
.introduction .welcome .triangle{
    display: inline-block;
    width: 0;
    border:5px solid transparent;
    border-left-color: #e6686a;
    border-top-color: #e6686a;
    position: absolute;
    bottom: -10px;
    left: 8px;
}
.introduction h1 {
    margin-top: 26px;
}
.introduction hr{
    margin: 22px 0;
}
.introduction dt,
.introduction dd{
    float: left;
    padding: 5px 0;
}
.introduction dt{
    width: 30%;
    font-weight: 700;
}
.introduction dd{
    width: 70%;
    color: #9da0a7;
}
.user-card-social{
    max-width: 940px;
    margin: 0 auto;
    background-color: #E6686A;
    text-align: center;
}
.user-card-social a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    margin: 18px 20px;
}
.user-card-social a svg{
    padding-top: 5px;
    width: 30px;
    height: 30px;
    vertical-align: top;
}
.user-card-social a:hover{
    background: rgba(225,225,225,.4);
}
.download-cv-wrapper {
    padding-top: 38px;
    text-align: center;
}
.download-cv{
    display: inline-block;
    font-size: 16px;
    color: #3d4451;
    border: 1px solid #cbcdcf;
    padding: 21px 55px;
    font-weight: 700;
    border-radius: 5px;
}
.download-cv:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow .4s;
}
.personal-profile {
    margin: 40px auto;
    max-width: 930px;
    text-align: center;
    font-size: 18px;
    font-family: "楷体";
    line-height: 30px;
}
.personal-skills{
    max-width: 930px;
    margin: 0 auto;
}
.personal-skills h2{
    text-align: center;
    margin-bottom: 33px;
}
.personal-skills-bar{
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.personal-skills ol{
    box-sizing: border-box;
    margin: 40px 50px 5px;
}
.personal-skills li{
    box-sizing: border-box;
    float: left;
    width: 48%;
    font-size: 16px;
    margin-bottom: 50px;
    position: relative;
}
.personal-skills li:nth-child(even){
    float: right;
}
.personal-skills li:before{
    width: 60%;
    content: "";
    display: block;
    height: 5px;
    border-radius: 2px;
    background-color: #e8676b;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.personal-skills li:after{
    content: "";
    display: block;
    height: 5px;
    border-radius: 2px;
    background-color: #e8676b;
    opacity: 0.6;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
}
.personal-skills li:nth-child(1):before{
    width: 60%;
}
.personal-skills li:nth-child(2):before{
    width: 40%;
}
.personal-skills li:nth-child(3):before{
    width: 70%;
}
.personal-skills li:nth-child(4):before{
    width: 80%;
}
.personal-skills li:nth-child(5):before{
    width: 60%;
}
.personal-skills li:nth-child(6):before{
    width: 50%;
}
.portfolio{
    max-width: 930px;
    margin: 80px auto 0;
    text-align: center;
}
.portfolio h2{
    text-align: center;
    margin-bottom: 48px;
}
.portfolio ul{
    display: inline-block;
    margin: 0 auto;
}
.portfolio li{
    float: left;
    margin-left: 40px;
    font-weight: bold;
    cursor: pointer;
}
.portfolio .portfolio-all li:first-child{
    margin-left: 10px;
}
.portfolio .portfolio-all li:nth-child(3){
    margin-right: 10px;
}
.portfolio-nav {
    display: inline-block;
}
.portfolio-all-bar {
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 13px;
    position: relative;

}
.portfolio-all-bar .bar{
    transition: all .5s ease-in-out;
}
.portfolio-nav-1 {
    display: inline-block;
    height: 5px;
    background-color: #e8676b;
    position: absolute;
    border-radius: 5px;
    width: 20%;
    left: 0;
}
.portfolio-nav-2 {
    display: inline-block;
    height: 5px;
    background-color: #e8676b;
    position: absolute;
    border-radius: 5px;
    width: 53%;
    left: 65px;
}
.portfolio-nav-3{
    display: inline-block;
    height: 5px;
    background-color: #e8676b;
    position: absolute;
    border-radius: 5px;
    width: 20%;
    left: 215px;
}
.job{
    max-width: 930px;
    margin-top: 30px;
    height: 576px;
    position: relative;
    margin-bottom: 100px;
}
.job .big{
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.job .small-1{
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.job .small-2{
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.job img{
    vertical-align: top;
}